#dashboard {
    layout: grid;
    grid-size: 1 2;
    grid-rows: 2fr 1fr;
}

#main {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 2fr;
}

#tasks {
    border: heavy darkred;
}

#status {
    column-span: 2;
    border: heavy darkred;
}

#wallets { 
    border: heavy darkred;
}